@font-face {
	font-family: 'mr_KindlyJasmineG';
	src: url('../fonts/mr_kindlyjasmineg.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/mr_kindlyjasmineg.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/mr_kindlyjasmineg.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/mr_kindlyjasmineg.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/mr_kindlyjasmineg.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/mr_kindlyjasmineg.svg#mr_kindlyjasmineg') format('svg'); /* Chrome < 4, Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.button {
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 60px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    transition: 0.3s;
    &__arrow {
        transition: 0.3s;
        margin-left: 5px;
    }

    &:hover {
        background: linear-gradient(92.71deg, #17C1BC 0%, #0499DD 100%);
    }

    &:hover &__arrow {
        margin-left: 10px;
    }
}

.title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #0499DD;
}

.link {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-decoration: underline;
    color: #282828;
}

.blocks-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}

.main {
    background: url('../img/bg.png') no-repeat center/cover;
    position: relative;
    padding: 26px 0 250px;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
        filter: blur(1px);
    }
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
}

.header__menu-item {
    margin-right: 20px;
    &:last-child {
        margin-right: 0;
    }
}

.header__menu-link {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    position: relative;
    &::before {
        content: '';
        width: 0;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #fff;
        transition: 0.3s;
    }
    
    &:hover::before {
        width: 100%;
    }
}

.header__menu-link.active {
    color: #FFC700;
    &::before {
        background-color: #ffc700;
    }
}

.main__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 154px;
}

.main__content-title {
    max-width: 723px;
    margin-bottom: 60px;
}

.main__content-text { 
    font-weight: bold;
    font-size: 72px;
    line-height: 88px;
    color: #FFFFFF;
    display: block;
}

.main__content-subtext {
    font-weight: normal;
    font-size: 64px;
    line-height: 64px;
    color: #FFC700;
    display: block;
    text-align: right;
    font-family: 'mr_KindlyJasmineG';
    margin-top: -25px;
    margin-bottom: -40px;
    margin-right: 18px;
}

.main__content-label {    
    font-weight: 900;
    font-size: 96px;
    line-height: 117px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    white-space: nowrap;
}

.main__content-button {
    padding: 16px 53px;
}

.main__content-link {
    transform: scale(1);
    transition: 0.3s;
    display: block;
    &:hover {
        transform: scale(1.2);
    }
}

.main__content-videos {
    display: flex;
    position: absolute;
    right: -150px;
    bottom: -90px;
}

.main__content-video {
    position: relative;
    margin-right: 20px;
    width: 360px;
    height: 230px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(.jpg);
        border-radius: 10px;
    }
}

.play-button {    
    border: 1px solid #FFC700;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25)) drop-shadow(0px 0px 4px #FFC700);
    width: 66px;
    height: 66px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &__element {
        width: 36px;
        height: 36px;
        background-color: #FFC700;
        box-shadow: 0px 0px 4px #FFC700;
        border-radius: 50%;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 15px solid #fff;
        }
    }
}

.popular-excursions {
    margin-top: 150px;
}

.popular-excursions__sliders,
.reviews__slider {
    width: calc(100% + 40rem);
}

.popular-excursions__slider {
    position: relative;
}

.swiper-slide {
    flex-shrink: 1;
}

.popular-excursions__slider-blocks {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.swiper-button-next, .swiper-button-prev {
    position: relative;
}

.swiper-button-prev {
    margin-right: 38px;
}

.swiper-button-disabled{
    color: #d4d4d4;
}

.swiper-scrollbar {
    background-color: #d4d4d4;
    height: 1px;
    margin-left: 52px;
    width: 100%;
}

.swiper-scrollbar-drag {
    background-color: #0499dd;
}

.popular-excursions__slider-card {
    width: 100%;
    height: 500px;
}

.popular-excursions__slider-images {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.121739) 0%, #000000 100%);
        border-radius: inherit;
    }
}

.popular-excursions__slider-content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 42px 16px;
}

.popular-excursions__slider-tag {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.popular-excursions__slider-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
}

.popular-excursions__slider-link {
    color: #FFC700;
}

.popular-excursions__slider-metas {
    display: flex;
}

.popular-excursions__slider-meta {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.popular-excursions__slider-icon {
    margin-right: 4px;
}

.popular-excursions__slider-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.popular-excursions__slider-description {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 20px 0;
}

.popular-excursions__slider-button {
    padding: 12px 43px;
}

.about {
    margin-top: 150px;
    background: url('../img/Rectangle 4 (1).png') no-repeat center left;
    padding: 135px 0;
    border-radius: 0 10px 10px 0;
    width: 85%;
}

.about__card {
    background: #EDEDED;
    border-radius: 10px;
    width: 542px;
    margin-left: auto;
}

.about__card-body {
    padding: 61px 85px;
}

.about__card-title {
    margin-bottom: 40px;
}

.about__description {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
    margin-bottom: 20px;
}

.types-excursions {
    margin-top: 150px;
}

.types-excursions__title {
    margin-bottom: 90px;
}

.types-excursions__blocks {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
}

.types-excursions__block {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 40px;
    max-width: 550px;
}

.types-excursions__left {
    margin-right: 20px;
}

.types-excursions__text {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #0499DD;
    margin-bottom: 10px;
}

.types-excursions__description {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
}

.types-excursions__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.types-excursions__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
    margin: 20px 0;
    max-width: 550px;
    text-align: center;
}

.types-excursions__button {
    padding: 16px 53px;
}

.gallery {
    margin-top: 150px;
}

.gallery__images {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery__image {
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
        transform: scale(1);
        transition: 0.3s;
        &:hover {
            transform: scale(1.2);
        }
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        border-radius: inherit;
        z-index: 10;
        pointer-events: none;
    }
}

.image-big-width {
    width: 503px;
}

.image-big-height {
    height: 265px;
}

.image-super-big-height {
    width: 362px;
    height: 551px;
}

.image-square {
    width: 265px;
}

.image-mini-width {
    width: 216px;
}

.image-mini {
    width: 266px;
    height: 123px;
}

.gallery__images-block {
    display: flex;
}

.reviews {
    margin-top: 150px;
}

.reviews__blocks {
    display: flex;
}

.reviews__block {
    padding: 38px 45px;
    background-color: #EDEDED;
    border-radius: 10px;
    display: flex;
    max-width: 775px;
    position: relative;
    .reviews__block-quotes {
        position: absolute;
        right: 30px;
        bottom: 0;
    }
}

.reviews__block-images {
    position: relative;
    border-radius: 10px;
    margin-right: 28px;
    width: 245px;
    height: 245px;
    flex-shrink: 0;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(.jpg);
        border-radius: inherit;
    }
}

.reviews__block-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
    margin-bottom: 20px;
}

.reviews__description {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
}